ul{
    
    margin-top: 30px;
}


.cardcontainer{
    width: 100px;
    display: inline;
    border-radius: 4px;
    background-color: blueviolet;
    opacity: 8;
    box-shadow: 2px;
    
}
.fav-cards{
    position: relative;
    width: fit-content;
    background-color:rgba(100,100, 100, 0.4);
    margin-top: 25%;
    height: fit-content;
}